/* INFOGARPH */
.section_infograph {
  padding: 0 0 80px;
}

path.up-triangle,
path.right-triangle,
path.left-triangle {
  /* transition: 2s; */
  display: none;
}

path.up-triangle:hover,
path.right-triangle:hover {
  transition: 2s;
}

.show {
  display: block !important;
  transition: 2s;
}

.hide {
  transition: 2s;
  display: none !important;
}

.active {
  fill: rgb(14, 8, 51) !important;
}
.disable {
  fill: rgb(145, 141, 168) !important;
}

.line-act {
  stroke: #b6267a;
}

.line-disable {
  stroke: var(--text-middle-grey, #918da8);
}

.img_infograph {
  width: 100%;
  max-height: 760px;
  border: 0;
}

#stage {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1537px) {
  .img_infograph {
    width: 80%;
  }
}

/* DOWNLOAD */
.section_download {
  background: url("../images/company/bg-download.jpg");
  padding: 80px 0;
}

.container_download {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.down__title {
  margin-bottom: 16px;
}

.down__text {
  margin-bottom: 24px;
}

.btn_download {
  color: var(--white);
  padding: 20px 28px;
  border-radius: 50px;
  display: flex;
  gap: 10px;
  background: var(
    --icons-accent-gradient,
    linear-gradient(126deg, #ce2574 6.65%, #1c259b 89.71%)
  );
}

/* OUR TEAM */
.section_team {
  padding: 80px 0 60px;
  background: var(
    --background-grey-linear,
    linear-gradient(
      180deg,
      rgba(247, 247, 253, 0) 0%,
      #f7f7fd 56.77%,
      rgba(237, 237, 252, 0.95) 100%
    )
  );
}

.team__slide__img {
  max-width: 100%;
  border-radius: 12px;
  margin-bottom: 20px;
}

.team___card__post {
  color: var(--text-middle-grey, #918da8);
}
